<main class="main">
  <section class="capcalera">
    <h1>{{ nomApp }}</h1>
    <p>Dominika Fedak</p>
    <p>Aplicació de registre d'entrenaments i seguiment de l'evolució de l'activitat física.</p>
  </section>

  <section class="targeta">
    <h2>Dades del projecte</h2>
    <p><strong>Nom de l'aplicació:</strong> {{ nomApp }}</p>
    <p><strong>Nom de l'autor:</strong> Dominika Fedak</p>
    <p>
      <strong>Descripció:</strong> Registre i seguiment d'entrenaments i de l'evolució de
      l'activitat física.
    </p>
  </section>

  <aside>
    <p>Pàgina en construcció</p>
  </aside>

  <p class="textObligatori">Projecte base llest</p>
  <p style="font-weight: bold; color: red; margin: auto;">PROVA RELOAD</p>

</main>

<router-outlet />
